    @media only screen and (min-width : 1200px) {
        .container { max-width: 1020px; }
    }

    @media only screen and (min-width : 1200px) {
        .container { max-width: 1020px; }
    }

    @media only screen and (max-width : 575.9px) {
        #vf { height: 33vh;
              background: red;
            }
        #af { height: calc(100vh - 33vh - 55px);}
        .card-img {
          width: auto;
          border-radius: calc(.25rem - 1px);
          height: 15vh;
        }
    }

    @media only screen and (min-width : 576px) {
        #vf { height: calc(100vh - 55px);
              background: red;}
        #af {height: calc(100vh - 55px)}
        .appButton {font-size: 10px;}
    }

    @media only screen and (min-width : 751px) {
      .appButton {font-size: 15px;}
    }

    #af {
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .appIcon {
      height: auto;
      width: 33%;
    }
    .appCard {
        max-height: 125px;
        width: 100%
    }
    .appDescription {
        width: 66%;
        height: inherit;
    }
    .overlap {
      position: fixed;
      width: 100%;
      opacity: 1;
      z-index: 2;
      text-align: center;
    }
    .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0.0;
    }
    .myNavbar {
      position: relative;
      height: 55px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: .5rem 1rem;
      padding-top: 0.5rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
    }
    .appButton {
      display: inline;
      vertical-align: top;
    }