    html {
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }

    @media only screen and (max-width : 575.9px) {
      .videoFrame {
        height: calc(36vh - 50px);
      }

    }

    @media only screen and (min-width : 576px) {
      .videoFrame {
        height: calc(66vh - 50px);
      }

    }

    @media only screen and (min-width : 768px) {
      #content {
      margin-left: 0;
      margin-right: 0;
      }

    }

    .myNavbar {
      position: relative;
      height: 50px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: .5rem 1rem;
      padding-top: 0.5rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
    }

    .videoFrame {
      max-width: 95vw;
      max-height: 80vh;
      width:  100%;
      background: #f8f9fa;
    }

    .fullScreenVideo {
      position: fixed;
      left: 0;
      top: 0;
      max-width: 100vw;
      max-height: 100vh;
      height: 100vh;
      width: 100vw;
      z-index:10;
    }

    .selectedApp {
      min-height: 160px;
      width: 100%;
    }
    .overlap {
      position: absolute;
      opacity: 1;
      z-index: 2;
      text-align: center;
    }
    .appIcon {
      height: 94px;
      width:  168px;
      margin-left: 0px;
      margin-right: 0px;
      background: #f8f9fa;
    }
    .appDescription {
      width: calc(100% - 168px);
      height: 98px;
    }
    .fixOverflow {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .gd {
    color: var(--gray-dark);
    }

    a:hover {
      background-color: #f8f9fa;
      text-decoration: none  !important;
    }
    .selectedAppBorder {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    a {
      color: unset;
    }
    .actionsCard {
      background: #f8f9fa;
      margin-bottom: .25rem;
      margin-top: -.25rem;
    }
    .playPause {
      margin-top: 5px;
      height: 16px;
      width: 16px;
    }
    .uiIcon{
      height: 24px;
      width: 24px;
    }
    .pointerCursor {
        cursor: pointer;
    }

    .landscapeImg {
        max-height: 100%;
        width: 100%;
        height: auto;
    }
    .defaultImg {
        height: 100%;
        max-width: 100%;
        width: auto;
    }